body{
  background-color:;
}

.page-header{
  background-color: black;
  padding:20px 20px 20px 40px;
  border-bottom: 2px solid brown;
}

h1{
  text-align: center;
  padding:10px;
}

h1 a, h1 a:hover{
  text-decoration: none;
  color:white;
  background
}

.col-md-8 {
  margin:20px;
}

.post-form-blog textarea{
  width:100%;
}

.post-form-blog .btn-primary{
  float:right;
}
